<%- include("layouts/header.ejs") %>

  <div class="btn-group" role="group" aria-label="Basic example">
      <a href="#Mocassian">
        <button type="button" class ="btn-main"class="btn btn-primary">Mocassian</button>
      </a>
      <a href="#Loafer">
        <button type="button" class ="btn-main"class="btn btn-primary">Loafer</button>
      </a>
      <a href="#Derby">
        <button type="button" class ="btn-main"class="btn btn-primary">Derby</button>
      </a>
      <a href="#Formal">
        <button type="button" class ="btn-main"class="btn btn-primary">Formal</button>
      </a>
      <a href="#Sandals">
        <button type="button" class ="btn-main"class="btn btn-primary">Sandals</button>
      </a>
      <a href="#customer_service">
        <button type="button" class ="btn-main"class="btn btn-primary">Contact us</button>
      </a>
  </div>
  </div> 
  <%- include("layouts/footer.ejs") %>