<%- include("layouts/header.ejs") %>
<hr style = "width : 2px">
<body>
  <body>
    <div class="container">
        <div class="product-images">
                <img src ="<%=mycard.image%>" alt="Main Product Image">
        </div>
        <div class="product-details">
            <h1 class="product-title">M-SR-0400076-SANDAL</h1>
            <div class="price">
                <span class="original-price"><card class="origin"></card></span>
                <span class="discounted-price">Rs. 1,799.00</span>
            </div>
            <div class="size-chart">
                <a href="#">SIZE CHART</a>
            </div>
            <div class="size-options">
                <button class="size">7</button>
                <button class="size">8</button>
                <button class="size">9</button>
                <button class="size">10</button>
            </div>
            <div class="color-options">
                <img src="path/to/color-image.png" alt="Color Option">
            </div>
            <div class="quantity">
                <button class="quantity-btn">-</button>
                <input type="text" value="1">
                <button class="quantity-btn">+</button>
            </div>
            <a href="/order/place/<%=mycard._id%>">
              <button class="sold-out-btn">Order Now</button>
            </a>
            <div class="description">
                <p>Description</p>
            </div>
        </div>
    </div>
</body>
  <%- include("layouts/footer.ejs") %>