<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <TITLe>signup</TITLe>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <%- include("layouts/sign.in.up-animation.ejs") %>
    <img id = "background-signup" src="image/Black and White Simple Modern Sportswear Logo.png" alt="">
</body>
</html>