<link rel="stylesheet" href="/landingpage.css">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4" >
        <h6 class = "contact-h" id = "customer_service">CUSTOMER SERVICE</h6>
        <ul class="nav flex-column" id = "contact-ul">
          <li class="contact" class ="cs"><a href="contact-us.ejs" target="_blank" >Contact Us</a></li>
          <li class="contact" class ="cs"><a href="">Exchange Policy</a></li>
          <li class="contact" class ="cs"><a href="" >Claim Policy</a></li>
          <li class="contact" class ="cs"><a href="">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class = "contact-h" id ="about">ABOUT</h6>
        <ul class="nav flex-column">
          <li class="contact"><a href="" >About Us</a></li>
          <li class=" contact"><a href="" >FAQ's</a></li>
          <li class="contact"><a href="" >Blogs</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h6 class = "contact-h" id = "contact_us">CONTACT US</h6>
        <ul class="nav flex-column">
          <li class="contact"><a href="">Helpline Number: +92 300-3308338</a></li>
          <li class="contact"><a href="">Email: luxusleather1@gmail.com</a></li>
          <li class="contact"><a href=""></a></li>
        </ul>
      </div>
    </div>
  </div>