
<%- include("layouts/header.ejs") %>
    <div class="image_con">
      <img class = "image" src="/image/Untitled design (3).png" alt="Your Image">
      <div class="toi">
        <h1 id = "git">GET IN TOUCH</h1>
        <form id ="form" action="/auth/contact-us" method ="post">
            <div class="mb-3">
              <input name ="name" type="text" class="form-control" id="name" placeholder="name" required>
            </div>
            <div class="mb-3">
                <input name = "email" type="email" class="form-control" id="email" placeholder="email"required>
            </div>
            <div class="message-box">
                <textarea name="message" id="msg" cols="30" rows="10" placeholder="message" required></textarea>
            </div>
            <div class="mb-3 form-check" id = "checkbox">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I'm not a robot
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
              </label>
            </div>
            <div>
            <button type="submit" id = "submit" onclick="message()">Submit</button>
            </div>
            <div class="message">
                <div class="success" id="success">Your Message Successfully Sent!</div>
                <div class="danger" id="danger">Fields Can't be Empty!</div>
            </div>
        </form>
      </div>
    </div>
    <script src="landinpage.js"></script>
    <%- include("layouts/footer.ejs") %>
</body>
